.blog-navbar-brand {
  width: 180px;
  max-height:30px;
  
}

.blog-navbar {
  padding-top:15px;
  padding-bottom: 15px;
  background-color: white;
  -webkit-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
  -moz-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
  box-shadow: 2px 0px 4px 1px rgba(222, 222, 222, 1);
  background-color: #712CF9
}

.blog-navbar-add-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  max-height: 40px;
  margin: 5px 10px;
  text-decoration: none;
  border: white solid 2px;
  padding: 10px 5px;
}
